<h2>Show hero</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @hero.name %>
  </li>

</ul>

<%= link "Edit", to: hero_path(@conn, :edit, @hero) %>
<%= link "Back", to: hero_path(@conn, :index) %>
